# Common files to ignore
*.swp

*.zip
*.suo
*.user
AHTWPong/AHTWPong/bin
AHTWPong/AHTWPongContent/bin
AHTWPong/AHTWPong/obj
AHTWPongGame/AHTWPongContent/obj
*.cachefile
*.ccgame
AHTWPong/AHTWPongContent/obj/x86/Debug/DesignTimeResolveAssemblyReferencesInput.cache
AHTWPong/AHTWPongContent/obj/x86/Debug/AHTWPongContent.contentprojResolveAssemblyReference.cache
AHTWPong/AHTWPongContent/AHTWPongContent.contentproj
